html, body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px;
}