@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-gray-800 text-zinc-50;
}

#image {
  background-image: url('/blob3.png');
  background-repeat: no-repeat;
  background-size: 600px;
  background-position:70% -10%;
}


@media(max-width: 768px) {
  #image {
    background-image: url('/blob3.png');
    background-size: 400px;
    background-position:70% 0%;
  }
}



.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom:0;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #202731;
  transform: translate(85%, 60%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}